name: SonarQube Cloud

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  sonar:
    name: quality / sonarcloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # (Optional nhưng nên có) tạo coverage.xml để Sonar hiển thị coverage
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
      - run: python -m pip install -U pip
      - run: pip install pytest pytest-cov
      - run: pytest -q --cov=apps --cov-report=xml:coverage.xml

      # Sonar scan
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR}}
